html {
    font-size: 62.5%;
}

body {
    font-family: "Protest Guerrilla", sans-serif;
    background-color: $color-fondo;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }