html {
    font-size: 62.5%;
}

body {
   font-family: 'Times New Roman', Times, serif;
    background-color: $color-fondo;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }