//---------overlay de autenticación--------------------//
.auth-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85); // Fondo oscuro como en productos
  z-index: 1000;
}

//---------contenedor de autenticación--------------------//
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .auth-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8); // Fondo oscuro
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgb(255, 205, 148); // Sombra similar a producto-card
    text-align: center;
    max-width: 350px;
    width: 100%;
    position: relative;
    gap: 10px;

    .auth-image {
      width: 70px;
      height: auto;
      margin: 1rem 0;
      transition: transform 0.3s ease;
      filter: drop-shadow(0 0 8px #cb94ff); 

      &:hover {
        transform: scale(1.1);
      }
    }

    .auth-form {
      width: 100%;

      h2 {
        margin-bottom: 1rem;
        color: #ffd900;
        font-size: 1.5rem;
      }

      input {
        width: 100%;
        padding: 0.6rem;
        margin-bottom: 0.8rem;
        border: 2px solid #ffd9006c;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.85);
        color: #000;
        transition: box-shadow 0.3s ease;

        &:focus {
          outline: none;
          border-color: #ffd900;
          box-shadow: 0 0 8px #ffd900;
        }
      }

      button {
        width: 100%;
        padding: 0.6rem;
        background-color: #7c660288;
        border: none;
        border-radius: 50px;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
          background-color: #ffd9006c;
          transform: scale(1.05);
        }
      }
    }

    .auth-links {
      margin-top: 0.8rem;

      p {
        color: #fff;
        font-size: 0.85rem;

        a {
          color: #ffd900;
          text-decoration: none;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

/*---------------------Loading Spinner------------------------*/
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  .spinner {
    width: 60px;
    height: 60px;
    border: 8px solid rgba(30, 4, 78, 0.2);
    border-radius: 50%;
    border-top: 8px solid #9900ff;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
